$bg-primary: #ffffff;
$bg-secondary: #EEEEEE;
$bg-branded: #2dc36a;

$text-primary: #555555;
$text-branded: #2dc36a;

$border-branded: #2dc36a;

$calc-bg: #ffffff;
$calc-border: #ccc;
$calc-border--focus: #2dc36a;
$calc-shadow: 0 4px 29px -15px rgba(0,0,0,0.75);